<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.es.app"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>KahveNefis</name>

  <description>
      KahveNefis Tanıtım Uygulaması
  </description>

  <author>
      Yasemin Öztürk
  </author>
    
  <icon src="icon.jpg" />

</widget>
